<a href="https://colab.research.google.com/github/gandalf1819/Aiddata/blob/master/Task_3_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Task 3 : Data Analysis on The Filtered 311 Data**

**Team :**<br>


*   Chinmay Wyawahare (cnw282)
*   Vineet Viswakumar (vv913)
*   HemanthTeja Yanambakkam (hy1713)

### Libraries

In [0]:
!pip install chart_studio

Requirement already satisfied: chart_studio in /usr/local/lib/python3.6/dist-packages (1.0.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from chart_studio) (4.1.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from chart_studio) (2.21.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.12.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.3.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (3.0.4)

In [0]:
!pip install plotly==4.3.0

Collecting plotly==4.3.0
  Downloading https://files.pythonhosted.org/packages/e3/67/eb2b2be7a63a66548abea92447fc04d9abf363520f1af6145c5f033cd1b3/plotly-4.3.0-py2.py3-none-any.whl (7.3MB)
     |████████████████████████████████| 7.3MB 4.9MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly==4.3.0) (1.12.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly==4.3.0) (1.3.3)
Installing collected packages: plotly
  Found existing installation: plotly 4.1.1
    Uninstalling plotly-4.1.1:
      Successfully uninstalled plotly-4.1.1
Successfully installed plotly-4.3.0

In [0]:
import modin.pandas as pd
from sqlalchemy import create_engine # database connection
import datetime as dt
from IPython.display import display

import chart_studio
chart_studio.tools.set_credentials_file(username='chinmayw', api_key='nx1Wrz01bmlTSBj91sz5')

import chart_studio.plotly as py # interactive graphing
from plotly.graph_objs import Bar, Scatter, Marker, Layout
import plotly.tools as tls

### Prepare the data

In [0]:
display(pd.read_csv('data/311_filtered1.csv',nrows=2).head())
display(pd.read_csv('data/311_filtered1.csv',nrows=2).tail())

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

Parameters provided defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.

,Created Date,Closed Date,Agency,Complaint Type,Descriptor,Location Type,City,Latitude,Longitude
0,07/29/2011 07:51:03 PM,08/29/2011 08:43:43 PM,DPR,Damaged Tree,Branch or Limb Has Fallen Down,Street,JAMAICA,40.720235,-73.789196
1,07/29/2011 08:34:33 PM,07/30/2011 05:38:24 AM,DOT,Broken Muni Meter,No Receipt,Street,NEW YORK,40.759540,-73.972245

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

Parameters provided defaulting to pandas implementation.

,Created Date,Closed Date,Agency,Complaint Type,Descriptor,Location Type,City,Latitude,Longitude
0,07/29/2011 07:51:03 PM,08/29/2011 08:43:43 PM,DPR,Damaged Tree,Branch or Limb Has Fallen Down,Street,JAMAICA,40.720235,-73.789196
1,07/29/2011 08:34:33 PM,07/30/2011 05:38:24 AM,DOT,Broken Muni Meter,No Receipt,Street,NEW YORK,40.759540,-73.972245

In [0]:
disk_engine = create_engine('sqlite:///311.db')
start = dt.datetime.now()
chunksize = 50000
j = 0
index_start = 1

for df in pd.read_csv('data/311_filtered1.csv', chunksize=chunksize, iterator=True, encoding='utf-8'):
    
    df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) # Remove spaces from columns

    df['CreatedDate'] = pd.to_datetime(df['CreatedDate']) # Convert to datetimes
    df['ClosedDate'] = pd.to_datetime(df['ClosedDate'])

    df.index += index_start

    # Remove the un-interesting columns
    columns = ['Agency', 'CreatedDate', 'ClosedDate', 'ComplaintType', 'Descriptor',
               'CreatedDate', 'ClosedDate', 'TimeToCompletion',
               'City']

    for c in df.columns:
        if c not in columns:
            df = df.drop(c, axis=1)    

    
    j+=1
    print ('{} seconds: completed {} rows'.format((dt.datetime.now() - start).seconds, j*chunksize))

    df.to_sql('data', disk_engine, if_exists='append')
    index_start = df.index[-1] + 1

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

Parameters provided defaulting to pandas implementation.

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\pandas\datetimes.py:56: FutureWarning:

the 'box' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'box'

14 seconds: completed 50000 rows

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`to_sql` defaulting to pandas implementation.

29 seconds: completed 100000 rows
44 seconds: completed 150000 rows
58 seconds: completed 200000 rows
73 seconds: completed 250000 rows
87 seconds: completed 300000 rows
102 seconds: completed 350000 rows
116 seconds: completed 400000 rows
130 seconds: completed 450000 rows
144 seconds: completed 500000 rows
158 seconds: completed 550000 rows
172 seconds: completed 600000 rows
186 seconds: completed 650000 rows
200 seconds: completed 700000 rows
214 seconds: completed 750000 rows
228 seconds: completed 800000 rows
242 seconds: completed 850000 rows
255 seconds: completed 900000 rows
269 seconds: completed 950000 rows
283 seconds: completed 1000000 rows
297 seconds: completed 1050000 rows
311 seconds: completed 1100000 rows
325 seconds: completed 1150000 rows
339 seconds: completed 1200000 rows
353 seconds: completed 1250000 rows
366 seconds: completed 1300000 rows
380 seconds: completed 1350000 rows
394 seconds: completed 1400000 rows
408 seconds: completed 1450000 rows
422 seconds: completed 1500000 rows
436 seconds: completed 1550000 rows
450 seconds: completed 1600000 rows
464 seconds: completed 1650000 rows
478 seconds: completed 1700000 rows
492 seconds: completed 1750000 rows
506 seconds: completed 1800000 rows
520 seconds: completed 1850000 rows
534 seconds: completed 1900000 rows
548 seconds: completed 1950000 rows
561 seconds: completed 2000000 rows
575 seconds: completed 2050000 rows
589 seconds: completed 2100000 rows
603 seconds: completed 2150000 rows
617 seconds: completed 2200000 rows
631 seconds: completed 2250000 rows
645 seconds: completed 2300000 rows
659 seconds: completed 2350000 rows
673 seconds: completed 2400000 rows
687 seconds: completed 2450000 rows
701 seconds: completed 2500000 rows
715 seconds: completed 2550000 rows
729 seconds: completed 2600000 rows
742 seconds: completed 2650000 rows
756 seconds: completed 2700000 rows
770 seconds: completed 2750000 rows
784 seconds: completed 2800000 rows
798 seconds: completed 2850000 rows
812 seconds: completed 2900000 rows
826 seconds: completed 2950000 rows
840 seconds: completed 3000000 rows
854 seconds: completed 3050000 rows
868 seconds: completed 3100000 rows
882 seconds: completed 3150000 rows
896 seconds: completed 3200000 rows
910 seconds: completed 3250000 rows
924 seconds: completed 3300000 rows
938 seconds: completed 3350000 rows
951 seconds: completed 3400000 rows
965 seconds: completed 3450000 rows
979 seconds: completed 3500000 rows
993 seconds: completed 3550000 rows
1007 seconds: completed 3600000 rows
1021 seconds: completed 3650000 rows
1035 seconds: completed 3700000 rows
1049 seconds: completed 3750000 rows
1063 seconds: completed 3800000 rows
1077 seconds: completed 3850000 rows
1091 seconds: completed 3900000 rows
1105 seconds: completed 3950000 rows
1119 seconds: completed 4000000 rows
1133 seconds: completed 4050000 rows
1147 seconds: completed 4100000 rows
1161 seconds: completed 4150000 rows
1175 seconds: completed 4200000 rows
1189 seconds: completed 4250000 rows
1203 seconds: completed 4300000 rows
1217 seconds: completed 4350000 rows
1231 seconds: completed 4400000 rows
1245 seconds: completed 4450000 rows
1251 seconds: completed 4500000 rows
1257 seconds: completed 4550000 rows
1263 seconds: completed 4600000 rows
1269 seconds: completed 4650000 rows
1275 seconds: completed 4700000 rows
1281 seconds: completed 4750000 rows
1288 seconds: completed 4800000 rows
1294 seconds: completed 4850000 rows
1300 seconds: completed 4900000 rows
1306 seconds: completed 4950000 rows
1313 seconds: completed 5000000 rows
1319 seconds: completed 5050000 rows
1324 seconds: completed 5100000 rows
1330 seconds: completed 5150000 rows
1336 seconds: completed 5200000 rows
1342 seconds: completed 5250000 rows
1348 seconds: completed 5300000 rows
1354 seconds: completed 5350000 rows
1361 seconds: completed 5400000 rows
1367 seconds: completed 5450000 rows
1374 seconds: completed 5500000 rows
1380 seconds: completed 5550000 rows
1387 seconds: completed 5600000 rows
1393 seconds: completed 5650000 rows
1399 seconds: completed 5700000 rows
1405 seconds: completed 5750000 rows
1411 seconds: completed 5800000 rows
1417 seconds: completed 5850000 rows
1423 seconds: completed 5900000 rows
1429 seconds: completed 5950000 rows
1435 seconds: completed 6000000 rows
1441 seconds: completed 6050000 rows
1448 seconds: completed 6100000 rows
1454 seconds: completed 6150000 rows
1461 seconds: completed 6200000 rows
1467 seconds: completed 6250000 rows
1474 seconds: completed 6300000 rows
1480 seconds: completed 6350000 rows
1487 seconds: completed 6400000 rows
1493 seconds: completed 6450000 rows
1500 seconds: completed 6500000 rows
1506 seconds: completed 6550000 rows
1512 seconds: completed 6600000 rows
1518 seconds: completed 6650000 rows
1523 seconds: completed 6700000 rows
1531 seconds: completed 6750000 rows
1537 seconds: completed 6800000 rows
1544 seconds: completed 6850000 rows
1552 seconds: completed 6900000 rows
1562 seconds: completed 6950000 rows
1570 seconds: completed 7000000 rows
1576 seconds: completed 7050000 rows
1584 seconds: completed 7100000 rows
1591 seconds: completed 7150000 rows
1601 seconds: completed 7200000 rows
1610 seconds: completed 7250000 rows
1617 seconds: completed 7300000 rows
1623 seconds: completed 7350000 rows
1630 seconds: completed 7400000 rows
1637 seconds: completed 7450000 rows
1643 seconds: completed 7500000 rows
1650 seconds: completed 7550000 rows
1656 seconds: completed 7600000 rows
1662 seconds: completed 7650000 rows
1671 seconds: completed 7700000 rows
1680 seconds: completed 7750000 rows
1688 seconds: completed 7800000 rows
1695 seconds: completed 7850000 rows
1702 seconds: completed 7900000 rows
1708 seconds: completed 7950000 rows
1715 seconds: completed 8000000 rows
1722 seconds: completed 8050000 rows
1729 seconds: completed 8100000 rows
1735 seconds: completed 8150000 rows
1742 seconds: completed 8200000 rows
1748 seconds: completed 8250000 rows
1754 seconds: completed 8300000 rows
1760 seconds: completed 8350000 rows
1766 seconds: completed 8400000 rows
1772 seconds: completed 8450000 rows
1779 seconds: completed 8500000 rows
1785 seconds: completed 8550000 rows
1791 seconds: completed 8600000 rows
1798 seconds: completed 8650000 rows
1804 seconds: completed 8700000 rows
1811 seconds: completed 8750000 rows
1820 seconds: completed 8800000 rows
1831 seconds: completed 8850000 rows
1842 seconds: completed 8900000 rows
1853 seconds: completed 8950000 rows
1864 seconds: completed 9000000 rows
1876 seconds: completed 9050000 rows
1890 seconds: completed 9100000 rows
1904 seconds: completed 9150000 rows
1915 seconds: completed 9200000 rows
1929 seconds: completed 9250000 rows
1943 seconds: completed 9300000 rows
1957 seconds: completed 9350000 rows
1971 seconds: completed 9400000 rows
1985 seconds: completed 9450000 rows
2000 seconds: completed 9500000 rows
2014 seconds: completed 9550000 rows
2027 seconds: completed 9600000 rows
2042 seconds: completed 9650000 rows
2056 seconds: completed 9700000 rows
2070 seconds: completed 9750000 rows
2084 seconds: completed 9800000 rows
2098 seconds: completed 9850000 rows
2112 seconds: completed 9900000 rows
2126 seconds: completed 9950000 rows
2140 seconds: completed 10000000 rows
2154 seconds: completed 10050000 rows
2169 seconds: completed 10100000 rows
2183 seconds: completed 10150000 rows
2197 seconds: completed 10200000 rows
2211 seconds: completed 10250000 rows
2225 seconds: completed 10300000 rows
2239 seconds: completed 10350000 rows
2253 seconds: completed 10400000 rows
2267 seconds: completed 10450000 rows
2282 seconds: completed 10500000 rows
2296 seconds: completed 10550000 rows
2310 seconds: completed 10600000 rows
2324 seconds: completed 10650000 rows
2338 seconds: completed 10700000 rows
2352 seconds: completed 10750000 rows
2366 seconds: completed 10800000 rows
2380 seconds: completed 10850000 rows
2395 seconds: completed 10900000 rows
2409 seconds: completed 10950000 rows
2423 seconds: completed 11000000 rows
2434 seconds: completed 11050000 rows
2445 seconds: completed 11100000 rows
2459 seconds: completed 11150000 rows
2470 seconds: completed 11200000 rows
2481 seconds: completed 11250000 rows

2492 seconds: completed 11300000 rows
2503 seconds: completed 11350000 rows
2514 seconds: completed 11400000 rows
2525 seconds: completed 11450000 rows
2540 seconds: completed 11500000 rows
2554 seconds: completed 11550000 rows
2568 seconds: completed 11600000 rows
2582 seconds: completed 11650000 rows
2596 seconds: completed 11700000 rows
2610 seconds: completed 11750000 rows
2624 seconds: completed 11800000 rows
2638 seconds: completed 11850000 rows
2649 seconds: completed 11900000 rows
2660 seconds: completed 11950000 rows
2671 seconds: completed 12000000 rows
2682 seconds: completed 12050000 rows
2693 seconds: completed 12100000 rows
2704 seconds: completed 12150000 rows
2715 seconds: completed 12200000 rows
2726 seconds: completed 12250000 rows
2737 seconds: completed 12300000 rows
2748 seconds: completed 12350000 rows
2759 seconds: completed 12400000 rows
2770 seconds: completed 12450000 rows
2781 seconds: completed 12500000 rows
2792 seconds: completed 12550000 rows
2803 seconds: completed 12600000 rows
2813 seconds: completed 12650000 rows
2824 seconds: completed 12700000 rows
2835 seconds: completed 12750000 rows
2846 seconds: completed 12800000 rows
2857 seconds: completed 12850000 rows
2868 seconds: completed 12900000 rows
2879 seconds: completed 12950000 rows
2890 seconds: completed 13000000 rows
2901 seconds: completed 13050000 rows
2912 seconds: completed 13100000 rows
2923 seconds: completed 13150000 rows
2933 seconds: completed 13200000 rows
2945 seconds: completed 13250000 rows
2959 seconds: completed 13300000 rows
2973 seconds: completed 13350000 rows
2988 seconds: completed 13400000 rows
3002 seconds: completed 13450000 rows
3016 seconds: completed 13500000 rows
3030 seconds: completed 13550000 rows
3044 seconds: completed 13600000 rows
3059 seconds: completed 13650000 rows
3073 seconds: completed 13700000 rows
3087 seconds: completed 13750000 rows
3101 seconds: completed 13800000 rows
3115 seconds: completed 13850000 rows
3129 seconds: completed 13900000 rows
3144 seconds: completed 13950000 rows
3158 seconds: completed 14000000 rows
3172 seconds: completed 14050000 rows
3186 seconds: completed 14100000 rows
3200 seconds: completed 14150000 rows
3213 seconds: completed 14200000 rows
3228 seconds: completed 14250000 rows
3242 seconds: completed 14300000 rows
3256 seconds: completed 14350000 rows
3270 seconds: completed 14400000 rows
3284 seconds: completed 14450000 rows
3298 seconds: completed 14500000 rows
3313 seconds: completed 14550000 rows
3327 seconds: completed 14600000 rows
3341 seconds: completed 14650000 rows
3355 seconds: completed 14700000 rows
3369 seconds: completed 14750000 rows
3383 seconds: completed 14800000 rows
3391 seconds: completed 14850000 rows

In [0]:
df = pd.read_sql_query('SELECT * FROM data LIMIT 3', disk_engine)
df.head()

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

,index,CreatedDate,ClosedDate,Agency,ComplaintType,Descriptor,City
0,1,2011-07-29 19:51:03.000000,2011-08-29 20:43:43.000000,DPR,Damaged Tree,Branch or Limb Has Fallen Down,JAMAICA
1,2,2011-07-29 20:34:33.000000,2011-07-30 05:38:24.000000,DOT,Broken Muni Meter,No Receipt,NEW YORK
2,3,2011-07-29 22:20:18.000000,2011-07-29 23:17:35.000000,NYPD,Noise - Residential,Loud Talking,BROOKLYN

In [0]:
df = pd.read_sql_query('SELECT Agency, Descriptor FROM data LIMIT 3', disk_engine)
df.head()

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

  Agency                      Descriptor
0    DPR  Branch or Limb Has Fallen Down
1    DOT                      No Receipt
2   NYPD                    Loud Talking

In [0]:
df = pd.read_sql_query('SELECT Agency, Descriptor FROM data LIMIT 3', disk_engine)
df.head()

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

  Agency                      Descriptor
0    DPR  Branch or Limb Has Fallen Down
1    DOT                      No Receipt
2   NYPD                    Loud Talking

In [0]:
df = pd.read_sql_query('SELECT ComplaintType, Descriptor, Agency '
                       'FROM data '
                       'LIMIT 10', disk_engine)
df

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

             ComplaintType                      Descriptor Agency
0             Damaged Tree  Branch or Limb Has Fallen Down    DPR
1        Broken Muni Meter                      No Receipt    DOT
2      Noise - Residential                    Loud Talking   NYPD
3      Noise - Residential                Loud Music/Party   NYPD
4       Noise - Commercial                Loud Music/Party   NYPD
5  Noise - Street/Sidewalk                Loud Music/Party   NYPD
6         Blocked Driveway                  Partial Access   NYPD
7       Noise - Commercial                Loud Music/Party   NYPD
8       Noise - Commercial                Loud Music/Party   NYPD
9  Noise - Street/Sidewalk                Loud Music/Party   NYPD

In [0]:
df = pd.read_sql_query('SELECT ComplaintType, Descriptor, Agency '
                       'FROM data '
                       'WHERE Agency = "NYPD" '
                       'LIMIT 10', disk_engine)
df.head()

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

             ComplaintType        Descriptor Agency
0      Noise - Residential      Loud Talking   NYPD
1      Noise - Residential  Loud Music/Party   NYPD
2       Noise - Commercial  Loud Music/Party   NYPD
3  Noise - Street/Sidewalk  Loud Music/Party   NYPD
4         Blocked Driveway    Partial Access   NYPD

In [0]:
df = pd.read_sql_query('SELECT ComplaintType, Descriptor, Agency '
                       'FROM data '
                       'WHERE Agency IN ("NYPD", "DOB")'
                       'LIMIT 10', disk_engine)
df.head()

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

             ComplaintType        Descriptor Agency
0      Noise - Residential      Loud Talking   NYPD
1      Noise - Residential  Loud Music/Party   NYPD
2       Noise - Commercial  Loud Music/Party   NYPD
3  Noise - Street/Sidewalk  Loud Music/Party   NYPD
4         Blocked Driveway    Partial Access   NYPD

### Plotting Starts Here

In [0]:
df = pd.read_sql_query('SELECT Agency, COUNT(*) as `num_complaints`'
                       'FROM data '
                       'GROUP BY Agency '
                       'ORDER BY -num_complaints', disk_engine)

py.iplot([Bar(x=df.Agency, y=df.num_complaints)], filename='Most common complaints by agency')

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

In [0]:
df = pd.read_sql_query('SELECT City, COUNT(*) as `num_complaints` '
                        'FROM data '
                        'GROUP BY `City` '
                       'COLLATE NOCASE '
                       'ORDER BY -num_complaints '
                       'LIMIT 11 ', disk_engine)
df

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

             City  num_complaints
0        BROOKLYN         9807411
1           BRONX         6263540
2        NEW YORK         5826867
3   STATEN ISLAND         1307769
4         JAMAICA          710658
5        FLUSHING          515180
6         ASTORIA          483538
7       RIDGEWOOD          393535
8          CORONA          254197
9        WOODSIDE          229604
10       ELMHURST          228532

In [0]:
cities = list(df.City)
#cities.remove(None)

In [0]:
traces = [] # the series in the graph - one trace for each city

for city in cities:
    df = pd.read_sql_query('SELECT ComplaintType, COUNT(*) as `num_complaints` '
                           'FROM data '
                           'WHERE City = "{}" COLLATE NOCASE '
                           'GROUP BY `ComplaintType` '
                           'ORDER BY -num_complaints'.format(city), disk_engine)

    traces.append(Bar(x=df['ComplaintType'], y=df.num_complaints, name=city.capitalize()))

py.iplot({'data': traces, 'layout': Layout(barmode='stack', xaxis={'tickangle': 40}, margin={'b': 150})}, filename='complaints by city stacked')

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

In [0]:
#py.iplot({'data': traces, 'layout': Layout(barmode='stack', xaxis={'tickangle': 40}, margin={'b': 150})}, title="Most complaints by city stacked",filename='complaints by city stacked')

In [0]:
for trace in traces:
    trace['y'] = 100.*trace['y']/sum(trace['y'])

In [0]:
py.iplot({'data': traces, 
          'layout': Layout(
                barmode='group',
                xaxis={'tickangle': 40, 'autorange': False, 'range': [-0.5, 16]},
                yaxis={'title': 'Percent of Complaints by City'},
                margin={'b': 150},
                title='Relative Number of 311 Complaints by City')
         }, filename='relative complaints by city')

In [0]:
df = pd.read_sql_query('SELECT ComplaintType, CreatedDate, City '
                       'FROM data '
                       'WHERE CreatedDate < "2014-11-16 23:47:00" '
                       'AND CreatedDate > "2014-11-16 23:45:00"', disk_engine)

df

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

              ComplaintType                 CreatedDate       City
0        Noise - Commercial  2014-11-16 23:46:08.000000    ASTORIA
1   Noise - Street/Sidewalk  2014-11-16 23:45:10.000000   NEW YORK
2          Blocked Driveway  2014-11-16 23:45:43.000000   BROOKLYN
3          Derelict Vehicle  2014-11-16 23:46:57.000000  RIDGEWOOD
4        School Maintenance  2014-11-16 23:45:41.000000      BRONX
5         Derelict Vehicles  2014-11-16 23:46:00.000000    Jamaica
6        Noise - Commercial  2014-11-16 23:46:08.000000    ASTORIA
7   Noise - Street/Sidewalk  2014-11-16 23:45:10.000000   NEW YORK
8          Blocked Driveway  2014-11-16 23:45:43.000000   BROOKLYN
9          Derelict Vehicle  2014-11-16 23:46:57.000000  RIDGEWOOD
10       School Maintenance  2014-11-16 23:45:41.000000      BRONX
11        Derelict Vehicles  2014-11-16 23:46:00.000000    Jamaica

In [0]:
df = pd.read_sql_query('SELECT CreatedDate, '
                              'strftime(\'%H\', CreatedDate) as hour, '
                              'ComplaintType '
                       'FROM data '
                       'LIMIT 5 ', disk_engine)
df.head()

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

                  CreatedDate hour        ComplaintType
0  2011-07-29 19:51:03.000000   19         Damaged Tree
1  2011-07-29 20:34:33.000000   20    Broken Muni Meter
2  2011-07-29 22:20:18.000000   22  Noise - Residential
3  2011-07-29 22:35:13.000000   22  Noise - Residential
4  2011-07-29 23:46:33.000000   23   Noise - Commercial

In [0]:
df = pd.read_sql_query('SELECT CreatedDate, '
                               'strftime(\'%H\', CreatedDate) as hour,  '
                               'count(*) as `Complaints per Hour`'
                       'FROM data '
                       'GROUP BY hour', disk_engine)

df.head()

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

                  CreatedDate hour  Complaints per Hour
0  2011-07-30 00:59:25.000000   00              7891823
1  2011-07-30 01:46:51.000000   01               641433
2  2011-07-30 02:18:32.000000   02               414661
3  2011-07-29 03:26:51.000000   03               279211
4  2011-07-29 04:18:58.000000   04               225495

In [0]:
py.iplot({
    'data': [Bar(x=df['hour'], y=df['Complaints per Hour'])],
    'layout': Layout(xaxis={'title': 'Hour in Day'},
                     yaxis={'title': 'Number of Complaints'})}, filename='complaints per hour')

In [0]:
df = pd.read_sql_query('SELECT CreatedDate, '
                               'strftime(\'%H\', CreatedDate) as `hour`,  '
                               'count(*) as `Complaints per Hour`'
                       'FROM data '
                       'WHERE ComplaintType IN ("Noise", '
                                               '"Noise - Street/Sidewalk", '
                                               '"Noise - Commercial", '
                                               '"Noise - Vehicle", '
                                               '"Noise - Park", '
                                               '"Noise - House of Worship", '
                                               '"Noise - Helicopter", '
                                               '"Collection Truck Noise") '
                       'GROUP BY hour', disk_engine)

display(df.head(n=2))

py.iplot({
    'data': [Bar(x=df['hour'], y=df['Complaints per Hour'])],
    'layout': Layout(xaxis={'title': 'Hour in Day'},
                     yaxis={'title': 'Number of Complaints'},
                     title='Number of Noise Complaints in NYC by Hour in Day'
                    )}, filename='noise complaints per hour')

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

                  CreatedDate hour  Complaints per Hour
0  2011-07-30 00:59:25.000000   00               230224
1  2011-07-30 01:25:58.000000   01               169156

In [0]:
complaint_traces = {} # Each series in the graph will represent a complaint
complaint_traces['Other'] = {}

for hour in range(1, 24):
    hour_str = '0'+str(hour) if hour < 10 else str(hour)
    df = pd.read_sql_query('SELECT  CreatedDate, '
                                   'ComplaintType ,'
                                   'strftime(\'%H\', CreatedDate) as `hour`,  '
                                   'COUNT(*) as num_complaints '
                           'FROM data '
                           'WHERE hour = "{}" '
                           'GROUP BY ComplaintType '
                           'ORDER BY -num_complaints'.format(hour_str), disk_engine)
    
    complaint_traces['Other'][hour] = sum(df.num_complaints)
    
    # Grab the 7 most common complaints for that hour
    for i in range(7):
        complaint = df.get_value(i, 'ComplaintType')
        count = df.get_value(i, 'num_complaints')
        complaint_traces['Other'][hour] -= count
        if complaint in complaint_traces:
            complaint_traces[complaint][hour] = count
        else:
            complaint_traces[complaint] = {hour: count}

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`DataFrame.get_value` defaulting to pandas implementation.

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\pandas\base.py:218: FutureWarning:

get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [0]:
traces = []
x_a = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
for complaint in complaint_traces:
    traces.append({
        'x': x_a,
        'y': [complaint_traces[complaint].get(i, None) for i in range(25)],
        'name': complaint,
        'type': 'bar'
    })

py.iplot({
    'data': traces, 
    'layout': {
        'barmode': 'stack',
        'xaxis': {'title': 'Hour in Day'},
        'yaxis': {'title': 'Number of Complaints'},
        'title': 'The 7 Most Common 311 Complaints by Hour in a Day'
    }}, filename='most common complaints by hour')

In [0]:
minutes = 15
seconds = 15*60

df = pd.read_sql_query('SELECT CreatedDate, '
                               'datetime(('
                                   'strftime(\'%s\', CreatedDate) / {seconds}) * {seconds}, \'unixepoch\') interval '
                       'FROM data '
                       'LIMIT 10 '.format(seconds=seconds), disk_engine)

display(df.head())

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

                  CreatedDate             interval
0  2011-07-29 19:51:03.000000  2011-07-29 19:45:00
1  2011-07-29 20:34:33.000000  2011-07-29 20:30:00
2  2011-07-29 22:20:18.000000  2011-07-29 22:15:00
3  2011-07-29 22:35:13.000000  2011-07-29 22:30:00
4  2011-07-29 23:46:33.000000  2011-07-29 23:45:00

In [0]:
minutes = 15
seconds = minutes*60

df = pd.read_sql_query('SELECT datetime(('
                                   'strftime(\'%s\', CreatedDate) / {seconds}) * {seconds}, \'unixepoch\') interval ,'
                               'COUNT(*) as "Complaints / interval"'
                       'FROM data '
                       'GROUP BY interval '
                       'ORDER BY interval '
                       'LIMIT 500'.format(seconds=seconds), disk_engine)

display(df.head())
display(df.tail())

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

              interval  Complaints / interval
0  2010-01-01 00:00:00                   2558
1  2010-01-01 00:15:00                     28
2  2010-01-01 00:30:00                     24
3  2010-01-01 00:45:00                     42
4  2010-01-01 01:00:00                     52

                interval  Complaints / interval
495  2010-01-06 05:00:00                      6
496  2010-01-06 05:15:00                      2
497  2010-01-06 05:30:00                     16
498  2010-01-06 05:45:00                      6
499  2010-01-06 06:00:00                      6

In [0]:
py.iplot(
    {
        'data': [{
            'x': df.interval,
            'y': df['Complaints / interval'],
            'type': 'bar'
        }],
        'layout': {
            'title': 'Number of 311 Complaints per 15 Minutes'
        }
}, filename='complaints per 15 minutes')

In [0]:
hours = 24
minutes = hours*60
seconds = minutes*60

df = pd.read_sql_query('SELECT datetime(('
                                   'strftime(\'%s\', CreatedDate) / {seconds}) * {seconds}, \'unixepoch\') interval ,'
                               'COUNT(*) as "Complaints / interval"'
                       'FROM data '
                       'GROUP BY interval '
                       'ORDER BY interval'.format(seconds=seconds), disk_engine)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\modin\error_message.py:32: UserWarning:

`read_sql_query` defaulting to pandas implementation.

In [0]:
py.iplot(
    {
        'data': [{
            'x': df.interval,
            'y': df['Complaints / interval'],
            'type': 'bar'
        }],
        'layout': {
            'title': 'Number of 311 Complaints per Day'
        }
}, filename='complaints per day')