In [2]:
import numpy as np
import pandas as pd
import csv
import json
from sklearn import preprocessing

#### Read csv data into a pandas dataframe

In [3]:
aid = pd.read_csv('aiddata.csv', delimiter=',')

In [4]:
aid

,Unnamed: 0,aiddata_id,aiddata_2_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
0,1,2.414478e+06,NaN,1977,Saudi Arabia,India,348718518.0,23030,Power generation/renewable sources
1,2,2.414509e+06,NaN,1977,Saudi Arabia,Brazil,191647004.0,23040,Electrical transmission/ distribution
2,3,2.414635e+06,NaN,1983,Saudi Arabia,India,79371799.0,21030,Rail transport
3,4,2.414665e+06,NaN,1984,Saudi Arabia,Taiwan,212202942.0,21030,Rail transport
4,5,2.414667e+06,NaN,1984,Saudi Arabia,Korea,134511154.0,21040,Water transport
5,6,2.414684e+06,NaN,1985,Saudi Arabia,India,128074768.0,23000,"Energy generation and supply, combinations of ..."
6,7,2.414760e+06,NaN,1987,Saudi Arabia,India,72707674.0,21040,Water transport
7,8,2.414840e+06,NaN,1993,Kuwait,Cyprus,25461230.0,21020,Road transport
8,9,2.415076e+06,NaN,1996,Kuwait,Lithuania,21381183.0,23050,Gas distribution
9,10,2.415206e+06,NaN,1998,Kuwait,India,1107033.0,21020,Road transport
10,11,2.426999e+06,NaN,1978,Kuwait,India,103885863.0,23000,"Energy generation and supply, combinations of ..."
11,12,2.427052e+06,NaN,1976,Kuwait,India,193588873.0,23030,Power generation/renewable sources
12,13,2.427058e+06,NaN,1976,Kuwait,Thailand,12905925.0,23040,Electrical transmission/ distribution
13,14,2.427115e+06,NaN,2001,Kuwait,Slovak Republic,1219994.0,14020,Water supply and sanitation - large systems
14,15,2.428296e+06,NaN,1992,Kuwait,Cyprus,6635123.0,21020,Road transport
15,16,2.428502e+06,NaN,1989,Kuwait,India,43493083.0,31320,Fishery development
16,17,2.428506e+06,NaN,1988,Kuwait,Cyprus,16145060.0,21020,Road transport
17,18,2.428566e+06,NaN,1988,Kuwait,Cyprus,27769503.0,14020,Water supply and sanitation - large systems
18,19,2.428587e+06,NaN,1986,Kuwait,Cyprus,30606432.0,21020,Road transport
19,20,2.428601e+06,NaN,1986,Kuwait,India,53561256.0,23030,Power generation/renewable sources
20,21,2.428623e+06,NaN,1984,Kuwait,Cyprus,27051193.0,14040,River development
21,22,2.428652e+06,NaN,1983,Kuwait,India,133092433.0,32220,Mineral/Metal prospection and exploration
22,23,2.428882e+06,NaN,1982,Kuwait,India,131175647.0,32120,Industrial development
23,24,2.428885e+06,NaN,1982,Kuwait,Thailand,50452172.0,23030,Power generation/renewable sources
24,25,2.428888e+06,NaN,1983,Kuwait,Cyprus,21878208.0,21020,Road transport
25,26,2.428969e+06,NaN,1981,Kuwait,India,83971160.0,43010,Multisector aid
26,27,2.428974e+06,NaN,1981,Kuwait,Thailand,65310902.0,23020,Power generation/non-renewable sources
27,28,2.429003e+06,NaN,1981,Kuwait,India,149282062.0,23020,Power generation/non-renewable sources
28,29,2.429034e+06,NaN,1979,Kuwait,Thailand,59307807.0,23000,"Energy generation and supply, combinations of ..."
29,30,2.429037e+06,NaN,1980,Kuwait,Cyprus,23153412.0,14040,River development
...,...,...,...,...,...,...,...,...,...
98510,98511,9.060009e+11,NaN,2013,Portugal,Chile,109.0,16061,Culture and recreation
98511,98512,9.060009e+11,NaN,2013,Poland,Brazil,63571.0,11420,Higher education
98512,98513,9.060009e+11,NaN,2013,Greece,India,24288.0,11420,Higher education
98513,98514,9.060009e+11,NaN,2013,Poland,Brazil,1657.0,11420,Higher education
98514,98515,9.060009e+11,NaN,2013,Poland,Brazil,4141.0,11420,Higher education
98515,98516,9.060009e+11,NaN,2013,Greece,Brazil,25253.0,11420,Higher education
98516,98517,9.060009e+11,NaN,2013,Portugal,Brazil,17651.0,24020,Monetary institutions
98517,98518,9.060009e+11,NaN,2013,Slovak Republic,Chile,2296.0,11420,Higher education
98518,98519,9.060009e+11,NaN,2013,Greece,Chile,1671.0,11420,Higher education
98519,98520,9.060009e+11,NaN,2013,Portugal,Brazil,197649.0,43082,Research/scientific institutions
98520,98521,9.060009e+11,NaN,2013,New Zealand,India,7911.0,11420,Higher education
98521,98522,9.060009e+11,NaN,2013,New Zealand,Brazil,81580.0,24030,Formal sector financial intermediaries
98522,98523,9.060009e+11,NaN,2013,New Zealand,Brazil,52072.0,11420,Higher education
98523,98524,9.060009e+11,NaN,2013,New Zealand,Chile,73769.0,15110,Economic and development policy/planning
98524,98525,9.060009e+11,NaN,2013,New Zealand,South Africa,112232.0,91010,Administrative costs
98525,98526,9.060009e+11,NaN,2013,New Zealand,India,954657.0,16030,Housing policy and administrative management
98526,98527,9.060009e+11,NaN,2013,New Zealand,Chile,245607.0,11420,Higher education
98527,98528,9.060009e+11,NaN,2013,New Zealand,Colombia,244739.0,31100,"Agriculture, combinations of purposes in Agric..."
98528,98529,9.060009e+11,NaN,2013,New Zealand,South Africa,27772.0,11420,Higher education
98529,98530,9.060009e+11,NaN,2013,New Zealand,South Africa,77240.0,15110,Economic and development policy/planning
98530,98531,9.060009e+11,NaN,2013,New Zealand,Thailand,60751.0,11320,Secondary education
98531,98532,9.060009e+11,NaN,2013,Czech Republic,Brazil,4001.0,11320,Secondary education
98532,98533,9.060009e+11,NaN,2013,Czech Republic,Thailand,127.0,15110,Economic and development policy/planning
98533,98534,9.060009e+11,NaN,2013,Czech Republic,Chile,3678.0,15110,Economic and development policy/planning
98534,98535,9.060009e+11,NaN,2013,Czech Republic,South Africa,2382.0,11105,"Education, level unspecified, purpose unspecif..."
98535,98536,9.060009e+11,NaN,2013,Czech Republic,Colombia,51840.0,11420,Higher education
98536,98537,9.060009e+11,NaN,2013,Czech Republic,India,35380.0,72010,Material relief assistance and services
98537,98538,9.060009e+11,NaN,2013,Czech Republic,India,11930.0,11420,Higher education
98538,98539,9.060009e+11,NaN,2013,Czech Republic,Brazil,6669.0,16010,Social/ welfare services
98539,98540,9.060009e+11,NaN,2013,Czech Republic,Chile,7145.0,11120,Education facilities and training

In [6]:
aid.count()

Unnamed: 0                        98540
aiddata_id                        98540
aiddata_2_id                      69695
year                              98540
donor                             98540
recipient                         98540
commitment_amount_usd_constant    98540
coalesced_purpose_code            98540
coalesced_purpose_name            98540
dtype: int64

#### Group by donor and recipient respectively

In [7]:
# donor = aid.groupby('donor').sum()[['donor','commitment_amount_usd_constant']]
# recipient = aid.groupby('recipient').sum()[['commitment_amount_usd_constant']]

aid['donated_amount'] = aid['commitment_amount_usd_constant'].groupby(aid['donor']).transform('sum')
aid['recieved_amount'] = aid['commitment_amount_usd_constant'].groupby(aid['recipient']).transform('sum')

# donor = aid[['donor','donor_amount']]
# recipient = aid[['recipient','recipient_amount']]

# donor.drop_duplicates()
# recipient.drop_duplicates()

# res = pd.merge(donor,recipient, left_on='donor', right_on='recipient')
# res.drop_duplicates()

In [11]:
aid.columns

Index(['Unnamed: 0', 'aiddata_id', 'aiddata_2_id', 'year', 'donor',
       'recipient', 'commitment_amount_usd_constant', 'coalesced_purpose_code',
       'coalesced_purpose_name', 'donated_amount', 'recieved_amount'],
      dtype='object')

In [100]:
purpose = aid[['recipient','coalesced_purpose_name']]
purpose = purpose.sort_values(by=['recipient'])

purpose = purpose.groupby(purpose.columns.tolist()).size().reset_index().\
    rename(columns={0:'count'})
purpose

,recipient,coalesced_purpose_name,count
0,Australia,Air transport,21
1,Australia,Industrial development,1
2,Australia,Mineral/Metal prospection and exploration,4
3,Australia,Radio/television/print media,1
4,Australia,Rail transport,1
5,Austria,Agricultural policy and administrative management,1
6,Austria,Air transport,6
7,Austria,Legal and judicial development,1
8,Austria,Material relief assistance and services,2
9,Austria,Sectors not specified,2
10,Belgium,Air transport,2
11,Brazil,Action relating to debt,7
12,Brazil,Administrative costs,240
13,Brazil,Administrative costs (non-sector allocable),12
14,Brazil,Advanced tech. & managerial training,34
15,Brazil,Advanced technical and managerial training,81
16,Brazil,Agrarian reform,1
17,Brazil,Agricultural alternative development,3
18,Brazil,Agricultural co-operatives,7
19,Brazil,Agricultural development,373
20,Brazil,Agricultural education/training,191
21,Brazil,Agricultural extension,3
22,Brazil,Agricultural inputs,8
23,Brazil,Agricultural land resources,43
24,Brazil,Agricultural policy & admin. mgmt,6
25,Brazil,Agricultural policy and administrative management,104
26,Brazil,Agricultural research,90
27,Brazil,Agricultural services,1
28,Brazil,"Agricultural services, purpose",146
29,Brazil,Agricultural water resources,23
...,...,...,...
3389,United Arab Emirates,Industrial policy and administrative management,1
3390,United Arab Emirates,Legal and judicial development,5
3391,United Arab Emirates,Material relief assistance and services,1
3392,United Arab Emirates,Medical services,2
3393,United Arab Emirates,Multisector aid,4
3394,United Arab Emirates,Multisector education/training,1
3395,United Arab Emirates,Primary education,1
3396,United Arab Emirates,RADIO/TELEVISION/PRINT MEDIA,1
3397,United Arab Emirates,Radio/television/print media,3
3398,United Arab Emirates,Reintegration and SALW control,1
3399,United Arab Emirates,Research/scientific institutions,8
3400,United Arab Emirates,SITE PRESERVATION,1
3401,United Arab Emirates,Secondary education,1
3402,United Arab Emirates,Sectors not specified,1
3403,United Arab Emirates,Security system management and reform,1
3404,United Arab Emirates,Social/ welfare services,50
3405,United Arab Emirates,Strengthening civil society,2
3406,United Arab Emirates,Support to non-governmental organizations and ...,1
3407,United Arab Emirates,TEACHER TRAINING,1
3408,United Arab Emirates,TRADE POLICY AND ADMIN. MANAGEMENT,1
3409,United Arab Emirates,Trade policy and administrative management,1
3410,United Arab Emirates,Water transport,2
3411,United Kingdom,Air transport,4
3412,United States,Basic health care,3
3413,United States,Basic health infrastructure,2
3414,United States,Economic and development policy/planning,1
3415,United States,Higher education,4
3416,United States,Housing policy and administrative management,5
3417,United States,Reproductive health care,1
3418,United States,Social/ welfare services,3

In [11]:
coords = pd.read_csv('cleandata.csv', delimiter=',')
coords

,country,donated,received,Latitude,Longitude,donatedBillions,receivedBillions
0,Australia,2446616312,2572618261,-35.266667,149.133333,2.446616,2.572618
1,Austria,784068952,770267419,48.200000,16.366667,0.784069,0.770267
2,Belgium,2144445270,184346233,50.833333,4.333333,2.144445,0.184346
3,Brazil,1134440,36607258078,-15.783333,-47.916667,0.001134,36.607258
4,Canada,7466338200,4068652966,45.416667,-75.700000,7.466338,4.068653
5,Chile,564349,7334129130,-33.450000,-70.666667,0.000564,7.334129
6,Colombia,190795,25530536307,4.600000,-74.083333,0.000191,25.530536
7,Cyprus,5599,968154947,35.166667,33.366667,0.000006,0.968155
8,Czech Republic,8930435,2141913341,50.083333,14.466667,0.008930,2.141913
9,Denmark,2952416405,166310586,55.666667,12.583333,2.952416,0.166311
10,Estonia,278942,251349503,59.433333,24.716667,0.000279,0.251350
11,Finland,665953415,180695493,60.166667,24.933333,0.665953,0.180695
12,France,15456459635,237540854,48.866667,2.333333,15.456460,0.237541
13,Germany,47218438821,60164,52.516667,13.400000,47.218439,0.000060
14,Greece,32667185,519377906,37.983333,23.733333,0.032667,0.519378
15,Hungary,324552,2925327491,47.500000,19.083333,0.000325,2.925327
16,Iceland,172501,18060045,64.150000,-21.950000,0.000173,0.018060
17,Ireland,295144458,934638729,53.316667,-6.233333,0.295144,0.934639
18,Italy,3835655974,2400826417,41.900000,12.483333,3.835656,2.400826
19,Japan,114182254172,2081102258,35.683333,139.750000,114.182254,2.081102
20,Korea,1299047720,25294323453,NaN,NaN,1.299048,25.294323
21,Kuwait,1369078319,7771540076,29.366667,47.966667,1.369078,7.771540
22,Liechtenstein,4370700,18393083,47.133333,9.516667,0.004371,0.018393
23,Luxembourg,111554022,555039832,49.600000,6.116667,0.111554,0.555040
24,Monaco,941387,0,43.733333,7.416667,0.000941,0.000000
25,Netherlands,8939647189,0,52.350000,4.916667,8.939647,0.000000
26,New Zealand,56749885,225588310,-41.300000,174.783333,0.056750,0.225588
27,Norway,4416814418,368001981,59.916667,10.750000,4.416814,0.368002
28,Poland,403184,24517225188,52.250000,21.000000,0.000403,24.517225
29,Portugal,68900866,175242606,38.716667,-9.133333,0.068901,0.175243
30,Qatar,104519053,733783749,25.283333,51.533333,0.104519,0.733784
31,Saudi Arabia,1698410689,4877749103,24.650000,46.700000,1.698411,4.877749
32,Slovak Republic,395574,821195623,NaN,NaN,0.000396,0.821196
33,Slovenia,150028,225435200,46.050000,14.516667,0.000150,0.225435
34,Spain,2014695904,561711808,40.400000,-3.683333,2.014696,0.561712
35,Sweden,6364045876,59757155,59.333333,18.050000,6.364046,0.059757
36,Switzerland,2844087953,326783,46.916667,7.466667,2.844088,0.000327
37,Taiwan,89017498,3399554410,25.033333,121.516667,0.089017,3.399554
38,Thailand,25461,49041317440,13.750000,100.516667,0.000025,49.041317
39,United Arab Emirates,67636986,300206472,24.466667,54.366667,0.067637,0.300206
40,United Kingdom,23690539376,957343964,51.500000,-0.083333,23.690539,0.957344
41,United States,116176338066,104524992,38.883333,-77.000000,116.176338,0.104525

In [18]:
coords['receivedBillions'].min()

0.0

In [94]:
coordinates = pd.merge(purpose, coords, left_on='recipient', right_on='country')
coordinates = coordinates[['recipient','coalesced_purpose_name', 'Latitude', 'Longitude', 'count']]

coordinates

,recipient,coalesced_purpose_name,Latitude,Longitude,count
0,Australia,Air transport,-35.266667,149.133333,21
1,Australia,Industrial development,-35.266667,149.133333,1
2,Australia,Mineral/Metal prospection and exploration,-35.266667,149.133333,4
3,Australia,Radio/television/print media,-35.266667,149.133333,1
4,Australia,Rail transport,-35.266667,149.133333,1
5,Austria,Agricultural policy and administrative management,48.200000,16.366667,1
6,Austria,Air transport,48.200000,16.366667,6
7,Austria,Legal and judicial development,48.200000,16.366667,1
8,Austria,Material relief assistance and services,48.200000,16.366667,2
9,Austria,Sectors not specified,48.200000,16.366667,2
10,Belgium,Air transport,50.833333,4.333333,2
11,Brazil,Action relating to debt,-15.783333,-47.916667,7
12,Brazil,Administrative costs,-15.783333,-47.916667,240
13,Brazil,Administrative costs (non-sector allocable),-15.783333,-47.916667,12
14,Brazil,Advanced tech. & managerial training,-15.783333,-47.916667,34
15,Brazil,Advanced technical and managerial training,-15.783333,-47.916667,81
16,Brazil,Agrarian reform,-15.783333,-47.916667,1
17,Brazil,Agricultural alternative development,-15.783333,-47.916667,3
18,Brazil,Agricultural co-operatives,-15.783333,-47.916667,7
19,Brazil,Agricultural development,-15.783333,-47.916667,373
20,Brazil,Agricultural education/training,-15.783333,-47.916667,191
21,Brazil,Agricultural extension,-15.783333,-47.916667,3
22,Brazil,Agricultural inputs,-15.783333,-47.916667,8
23,Brazil,Agricultural land resources,-15.783333,-47.916667,43
24,Brazil,Agricultural policy & admin. mgmt,-15.783333,-47.916667,6
25,Brazil,Agricultural policy and administrative management,-15.783333,-47.916667,104
26,Brazil,Agricultural research,-15.783333,-47.916667,90
27,Brazil,Agricultural services,-15.783333,-47.916667,1
28,Brazil,"Agricultural services, purpose",-15.783333,-47.916667,146
29,Brazil,Agricultural water resources,-15.783333,-47.916667,23
...,...,...,...,...,...
2377,United Arab Emirates,Industrial policy and administrative management,24.466667,54.366667,1
2378,United Arab Emirates,Legal and judicial development,24.466667,54.366667,5
2379,United Arab Emirates,Material relief assistance and services,24.466667,54.366667,1
2380,United Arab Emirates,Medical services,24.466667,54.366667,2
2381,United Arab Emirates,Multisector aid,24.466667,54.366667,4
2382,United Arab Emirates,Multisector education/training,24.466667,54.366667,1
2383,United Arab Emirates,Primary education,24.466667,54.366667,1
2384,United Arab Emirates,RADIO/TELEVISION/PRINT MEDIA,24.466667,54.366667,1
2385,United Arab Emirates,Radio/television/print media,24.466667,54.366667,3
2386,United Arab Emirates,Reintegration and SALW control,24.466667,54.366667,1
2387,United Arab Emirates,Research/scientific institutions,24.466667,54.366667,8
2388,United Arab Emirates,SITE PRESERVATION,24.466667,54.366667,1
2389,United Arab Emirates,Secondary education,24.466667,54.366667,1
2390,United Arab Emirates,Sectors not specified,24.466667,54.366667,1
2391,United Arab Emirates,Security system management and reform,24.466667,54.366667,1
2392,United Arab Emirates,Social/ welfare services,24.466667,54.366667,50
2393,United Arab Emirates,Strengthening civil society,24.466667,54.366667,2
2394,United Arab Emirates,Support to non-governmental organizations and ...,24.466667,54.366667,1
2395,United Arab Emirates,TEACHER TRAINING,24.466667,54.366667,1
2396,United Arab Emirates,TRADE POLICY AND ADMIN. MANAGEMENT,24.466667,54.366667,1
2397,United Arab Emirates,Trade policy and administrative management,24.466667,54.366667,1
2398,United Arab Emirates,Water transport,24.466667,54.366667,2
2399,United Kingdom,Air transport,51.500000,-0.083333,4
2400,United States,Basic health care,38.883333,-77.000000,3
2401,United States,Basic health infrastructure,38.883333,-77.000000,2
2402,United States,Economic and development policy/planning,38.883333,-77.000000,1
2403,United States,Higher education,38.883333,-77.000000,4
2404,United States,Housing policy and administrative management,38.883333,-77.000000,5
2405,United States,Reproductive health care,38.883333,-77.000000,1
2406,United States,Social/ welfare services,38.883333,-77.000000,3

In [21]:
aiddata = pd.read_csv('aiddata-donor-recipient.csv')
aiddata = aiddata.sort_values(by=['donated','received'])
aiddata.to_csv(r'aid-donor-recipient.csv')
aiddata

                 country       donated      received
23                Latvia  0.000000e+00  4.234950e+08
25             Lithuania  0.000000e+00  5.164233e+08
34               Romania  0.000000e+00  3.332060e+09
38          South Africa  0.000000e+00  1.865556e+10
17                 India  0.000000e+00  1.339805e+11
7                 Cyprus  5.599000e+03  9.681549e+08
43              Thailand  2.546100e+04  4.904132e+10
37              Slovenia  1.500280e+05  2.254352e+08
16               Iceland  1.725010e+05  1.806004e+07
6               Colombia  1.907950e+05  2.553054e+10
10               Estonia  2.789420e+05  2.513495e+08
15               Hungary  3.245520e+05  2.925327e+09
36       Slovak Republic  3.955740e+05  8.211956e+08
31                Poland  4.031840e+05  2.451723e+10
5                  Chile  5.643490e+05  7.334129e+09
27                Monaco  9.413870e+05  0.000000e+00
3                 Brazil  1.134440e+06  3.660726e+10
24         Liechtenstein  4.370700e+06  1.839308e+07
8         Czech Republic  8.930435e+06  2.141913e+09
14                Greece  3.266718e+07  5.193779e+08
29           New Zealand  5.674988e+07  2.255883e+08
44  United Arab Emirates  6.763699e+07  3.002065e+08
32              Portugal  6.890087e+07  1.752426e+08
42                Taiwan  8.901750e+07  3.399554e+09
33                 Qatar  1.045191e+08  7.337837e+08
26            Luxembourg  1.115540e+08  5.550398e+08
18               Ireland  2.951445e+08  9.346387e+08
11               Finland  6.659534e+08  1.806955e+08
1                Austria  7.840690e+08  7.702674e+08
21                 Korea  1.299048e+09  2.529432e+10
22                Kuwait  1.369078e+09  7.771540e+09
35          Saudi Arabia  1.698411e+09  4.877749e+09
39                 Spain  2.014696e+09  5.617118e+08
2                Belgium  2.144445e+09  1.843462e+08
0              Australia  2.446616e+09  2.572618e+09
41           Switzerland  2.844088e+09  3.267830e+05
9                Denmark  2.952416e+09  1.663106e+08
19                 Italy  3.835656e+09  2.400826e+09
30                Norway  4.416814e+09  3.680020e+08
40                Sweden  6.364046e+09  5.975716e+07
4                 Canada  7.466338e+09  4.068653e+09
28           Netherlands  8.939647e+09  0.000000e+00
12                France  1.545646e+10  2.375409e+08
45        United Kingdom  2.369054e+10  9.573440e+08
13               Germany  4.721844e+10  6.016400e+04
20                 Japan  1.141823e+11  2.081102e+09
46         United States  1.161763e+11  1.045250e+08

In [ ]:
array = ['']

In [95]:
coordinates.pivot(index='recipient', columns='coalesced_purpose_name', values='count')

coalesced_purpose_name,ADMINISTRATIVE COSTS,ADVANCED TECH. & MANAGERIAL TRAINING,AGRICULTURAL DEVELOPMENT,AGRICULTURAL EDUCATION/TRAINING,AGRICULTURAL POLICY & ADMIN. MGMT,AGRICULTURAL RESEARCH,AGRO-INDUSTRIES,AIR TRANSPORT,Action relating to debt,Administrative costs,...,Water resources policy/admin. mgmt,Water resources protection,Water supply & sanit. - large syst.,Water supply & sanit. - large systems,Water supply - large systems,Water supply and sanitation - large systems,Water transport,Wind power,Women in development,Women's equality organisations and institutions
recipient,,,,,,,,,,,,,,,,,,,,,
Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,240.0,...,20.0,30.0,17.0,4.0,2.0,74.0,36.0,2.0,35.0,25.0
Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,61.0,...,16.0,20.0,3.0,2.0,NaN,8.0,12.0,NaN,41.0,12.0
Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,137.0,...,9.0,17.0,5.0,2.0,NaN,25.0,13.0,NaN,64.0,27.0
Cyprus,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,2.0,NaN,NaN,NaN
Czech Republic,1.0,3.0,1.0,1.0,NaN,NaN,2.0,NaN,NaN,1.0,...,NaN,3.0,NaN,NaN,NaN,14.0,NaN,NaN,1.0,NaN
Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Estonia,1.0,3.0,1.0,1.0,NaN,1.0,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,13.0,2.0,NaN,2.0,NaN
Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hungary,1.0,2.0,2.0,1.0,NaN,NaN,2.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,1.0,NaN
Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Korea,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.0,NaN,...,1.0,NaN,5.0,NaN,NaN,7.0,2.0,NaN,NaN,NaN
Kuwait,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
Poland,1.0,7.0,2.0,1.0,2.0,NaN,2.0,1.0,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,29.0,1.0,NaN,3.0,NaN
Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Qatar,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,2.0,NaN,NaN,NaN,NaN,8.0,4.0,NaN,NaN,NaN
Slovak Republic,1.0,7.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,1.0,NaN
Slovenia,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,2.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN
Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taiwan,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,364.0,...,16.0,20.0,8.0,NaN,NaN,37.0,15.0,NaN,19.0,6.0
United Arab Emirates,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
purposefive = pd.read_csv('purpose.csv')
purposefive = purposefive.sort_values(by=['Air transport', 'Industrial development', 'Legal and judicial development', 'Material relief assistance and services', 'Social/ welfare services'])
purposefive.to_csv(r'purpose-five.csv')
purposefive

,recipient,Air transport,Industrial development,Legal and judicial development,Material relief assistance and services,Social/ welfare services
22,Liechtenstein,0.0,0.0,0.0,0.0,1.0
13,Germany,0.0,0.0,0.0,0.0,2.0
39,United States,0.0,0.0,0.0,0.0,3.0
34,Switzerland,0.0,0.0,0.0,3.0,0.0
28,Qatar,0.0,1.0,2.0,2.0,34.0
21,Kuwait,0.0,1.0,2.0,4.0,35.0
33,Sweden,0.0,2.0,0.0,0.0,0.0
31,Slovenia,0.0,3.0,6.0,9.0,62.0
16,Iceland,1.0,0.0,0.0,0.0,0.0
27,Portugal,1.0,1.0,0.0,0.0,0.0
32,Spain,1.0,1.0,0.0,0.0,0.0
7,Cyprus,1.0,3.0,2.0,22.0,42.0
37,United Arab Emirates,1.0,3.0,5.0,1.0,50.0
30,Slovak Republic,1.0,13.0,13.0,6.0,88.0
2,Belgium,2.0,0.0,0.0,0.0,0.0
24,New Zealand,2.0,1.0,0.0,0.0,0.0
14,Greece,2.0,2.0,0.0,0.0,0.0
15,Hungary,2.0,16.0,23.0,15.0,104.0
9,Denmark,3.0,0.0,0.0,0.0,0.0
12,France,3.0,0.0,0.0,0.0,0.0
23,Luxembourg,3.0,0.0,0.0,0.0,0.0
11,Finland,3.0,0.0,0.0,0.0,1.0
38,United Kingdom,4.0,0.0,0.0,0.0,0.0
17,Ireland,4.0,3.0,0.0,0.0,0.0
25,Norway,5.0,0.0,0.0,0.0,0.0
18,Italy,5.0,0.0,0.0,2.0,0.0
29,Saudi Arabia,5.0,21.0,5.0,5.0,64.0
10,Estonia,5.0,24.0,45.0,22.0,75.0
1,Austria,6.0,0.0,1.0,2.0,0.0
8,Czech Republic,8.0,20.0,21.0,22.0,125.0
35,Taiwan,8.0,41.0,2.0,12.0,57.0
19,Japan,11.0,0.0,0.0,0.0,0.0
26,Poland,15.0,60.0,21.0,30.0,146.0
20,Korea,18.0,104.0,1.0,20.0,85.0
4,Canada,19.0,1.0,0.0,0.0,0.0
0,Australia,21.0,1.0,0.0,0.0,0.0
5,Chile,23.0,85.0,81.0,163.0,437.0
6,Colombia,26.0,131.0,368.0,592.0,848.0
36,Thailand,47.0,183.0,122.0,438.0,405.0
3,Brazil,51.0,185.0,128.0,135.0,1066.0

In [30]:
coordinates.to_csv(r'coordinates.csv')

#### Create donor and recipient dataframes

In [8]:
donor = aid[['donor','donated_amount']]
donor.drop_duplicates()

                      donor  donated_amount
0              Saudi Arabia    1.698411e+09
7                    Kuwait    1.369078e+09
32                    Qatar    1.045191e+08
49                   Brazil    1.134440e+06
59                 Colombia    1.907950e+05
78                  Estonia    2.789420e+05
81                  Hungary    3.245520e+05
90            United States    1.161763e+11
787                Thailand    2.546100e+04
1264          Liechtenstein    4.370700e+06
1314        Slovak Republic    3.955740e+05
1371                 Monaco    9.413870e+05
1378                  Chile    5.643490e+05
1418                 Taiwan    8.373750e+07
1426   United Arab Emirates    6.763699e+07
1427                Belgium    2.144445e+09
1428                  Japan    1.141823e+11
1431                Austria    7.840690e+08
1432                  Italy    3.835656e+09
1433                Germany    4.721844e+10
1434                 Sweden    6.364046e+09
1435             Luxembourg    1.115540e+08
1438                  Spain    2.014696e+09
1439                Denmark    2.952416e+09
1440                 France    1.545646e+10
1462                 Norway    4.416814e+09
1472               Portugal    6.890087e+07
1477            Switzerland    2.844088e+09
1479         United Kingdom    2.369054e+10
1488                Finland    6.659534e+08
1491                Ireland    2.951445e+08
1493              Australia    2.446616e+09
1520                 Canada    7.466338e+09
1558                  Korea    1.299048e+09
1740                 Greece    3.266718e+07
3641            Netherlands    8.939647e+09
6374            New Zealand    5.674988e+07
71125                Cyprus    5.599000e+03
71158        Czech Republic    8.930435e+06
71187              Slovenia    1.500280e+05
86284               Iceland    1.725010e+05
98446                Poland    4.031840e+05

In [9]:
recipient = aid[['recipient','recieved_amount']]
recipient.drop_duplicates()

                  recipient  recieved_amount
0                     India     1.339805e+11
1                    Brazil     3.660726e+10
3                    Taiwan     3.399554e+09
4                     Korea     2.529432e+10
7                    Cyprus     9.681549e+08
8                 Lithuania     5.141433e+08
12                 Thailand     4.904132e+10
13          Slovak Republic     8.211956e+08
32            United States     1.045250e+08
49             South Africa     1.865556e+10
50                 Colombia     2.553054e+10
58                   France     2.375409e+08
59                    Chile     7.334129e+09
79                   Poland     2.451723e+10
80           Czech Republic     2.141913e+09
81                  Romania     3.329060e+09
88                   Canada     4.068653e+09
90                Australia     2.572618e+09
91                   Sweden     5.975716e+07
97                  Hungary     2.925327e+09
118                 Denmark     1.663106e+08
156                 Finland     1.806955e+08
165                  Greece     5.193779e+08
171                 Austria     7.702674e+08
235                 Ireland     9.346387e+08
239                   Japan     2.081102e+09
240              Luxembourg     5.550398e+08
245            Saudi Arabia     4.877749e+09
251             New Zealand     2.255883e+08
252          United Kingdom     9.573440e+08
258                 Belgium     1.843462e+08
322                  Norway     3.680020e+08
346                   Italy     2.400826e+09
367                Portugal     1.752426e+08
369                   Qatar     7.337837e+08
394                   Spain     5.617118e+08
419                  Kuwait     7.771540e+09
420           Liechtenstein     1.839308e+07
491                  Latvia     4.234950e+08
652                 Estonia     2.513495e+08
1000                Iceland     1.806004e+07
1294            Switzerland     3.267830e+05
1298                Germany     6.016400e+04
1340               Slovenia     2.254352e+08
12507  United Arab Emirates     3.002065e+08

#### Merge two dataframes

In [21]:
res = pd.merge(donor,recipient, left_on='donor', right_on='recipient')
res.drop_duplicates()

NameError: name 'donor' is not defined

#### Dump donor and recipient dataframes to csv

In [141]:
res.to_csv(r'aid.csv')

In [25]:
res.drop(columns='recipient').drop_duplicates()

                        donor  donated_amount  recieved_amount
0                Saudi Arabia    1.698411e+09     4.877749e+09
7098                   Kuwait    1.369078e+09     7.771540e+09
10173                   Qatar    1.045191e+08     7.337837e+08
12026                  Brazil    1.134440e+06     3.660726e+10
487616               Colombia    1.907950e+05     2.553054e+10
756516                Estonia    2.789420e+05     2.513495e+08
759006                Hungary    3.245520e+05     2.925327e+09
768978          United States    1.161763e+11     1.045250e+08
984096               Thailand    2.546100e+04     4.904132e+10
1004080         Liechtenstein    4.370700e+06     1.839308e+07
1004610       Slovak Republic    3.955740e+05     8.211956e+08
1011706                 Chile    5.643490e+05     7.334129e+09
1361706                Taiwan    8.373750e+07     3.399554e+09
1364686  United Arab Emirates    6.763699e+07     3.002065e+08
1382275               Belgium    2.144445e+09     1.843462e+08
1391803                 Japan    1.141823e+11     2.081102e+09
1504591               Austria    7.840690e+08     7.702674e+08
1527919                 Italy    3.835656e+09     2.400826e+09
1594069               Germany    4.721844e+10     6.016400e+04
1617715                Sweden    6.364046e+09     5.975716e+07
1636599            Luxembourg    1.115540e+08     5.550398e+08
1640235                 Spain    2.014696e+09     5.617118e+08
1826131               Denmark    2.952416e+09     1.663106e+08
1829851                France    1.545646e+10     2.375409e+08
1861251                Norway    4.416814e+09     3.680020e+08
1894060              Portugal    6.890087e+07     1.752426e+08
1898964           Switzerland    2.844088e+09     3.267830e+05
1912199        United Kingdom    2.369054e+10     9.573440e+08
1931531               Finland    6.659534e+08     1.806955e+08
1938326               Ireland    2.951445e+08     9.346387e+08
1959494             Australia    2.446616e+09     2.572618e+09
2037502                Canada    7.466338e+09     4.068653e+09
2132527                 Korea    1.299048e+09     2.529432e+10
3287334                Greece    3.266718e+07     5.193779e+08
3291294           New Zealand    5.674988e+07     2.255883e+08
3292278                Cyprus    5.599000e+03     9.681549e+08
3292581        Czech Republic    8.930435e+06     2.141913e+09
3328587              Slovenia    1.500280e+05     2.254352e+08
3331898               Iceland    1.725010e+05     1.806004e+07
3331901                Poland    4.031840e+05     2.451723e+10

In [26]:
result = res.rename(index=str, columns={"donor": "Country"}).drop_duplicates()

In [28]:
result.drop(columns='recipient')

                      Country  donated_amount  recieved_amount
0                Saudi Arabia    1.698411e+09     4.877749e+09
7098                   Kuwait    1.369078e+09     7.771540e+09
10173                   Qatar    1.045191e+08     7.337837e+08
12026                  Brazil    1.134440e+06     3.660726e+10
487616               Colombia    1.907950e+05     2.553054e+10
756516                Estonia    2.789420e+05     2.513495e+08
759006                Hungary    3.245520e+05     2.925327e+09
768978          United States    1.161763e+11     1.045250e+08
984096               Thailand    2.546100e+04     4.904132e+10
1004080         Liechtenstein    4.370700e+06     1.839308e+07
1004610       Slovak Republic    3.955740e+05     8.211956e+08
1011706                 Chile    5.643490e+05     7.334129e+09
1361706                Taiwan    8.373750e+07     3.399554e+09
1364686  United Arab Emirates    6.763699e+07     3.002065e+08
1382275               Belgium    2.144445e+09     1.843462e+08
1391803                 Japan    1.141823e+11     2.081102e+09
1504591               Austria    7.840690e+08     7.702674e+08
1527919                 Italy    3.835656e+09     2.400826e+09
1594069               Germany    4.721844e+10     6.016400e+04
1617715                Sweden    6.364046e+09     5.975716e+07
1636599            Luxembourg    1.115540e+08     5.550398e+08
1640235                 Spain    2.014696e+09     5.617118e+08
1826131               Denmark    2.952416e+09     1.663106e+08
1829851                France    1.545646e+10     2.375409e+08
1861251                Norway    4.416814e+09     3.680020e+08
1894060              Portugal    6.890087e+07     1.752426e+08
1898964           Switzerland    2.844088e+09     3.267830e+05
1912199        United Kingdom    2.369054e+10     9.573440e+08
1931531               Finland    6.659534e+08     1.806955e+08
1938326               Ireland    2.951445e+08     9.346387e+08
1959494             Australia    2.446616e+09     2.572618e+09
2037502                Canada    7.466338e+09     4.068653e+09
2132527                 Korea    1.299048e+09     2.529432e+10
3287334                Greece    3.266718e+07     5.193779e+08
3291294           New Zealand    5.674988e+07     2.255883e+08
3292278                Cyprus    5.599000e+03     9.681549e+08
3292581        Czech Republic    8.930435e+06     2.141913e+09
3328587              Slovenia    1.500280e+05     2.254352e+08
3331898               Iceland    1.725010e+05     1.806004e+07
3331901                Poland    4.031840e+05     2.451723e+10

In [32]:
result.rename(index=str, columns={"donor": "Country"}).drop(columns='recipient')

                      Country  donated_amount  recieved_amount
0                Saudi Arabia    1.698411e+09     4.877749e+09
7098                   Kuwait    1.369078e+09     7.771540e+09
10173                   Qatar    1.045191e+08     7.337837e+08
12026                  Brazil    1.134440e+06     3.660726e+10
487616               Colombia    1.907950e+05     2.553054e+10
756516                Estonia    2.789420e+05     2.513495e+08
759006                Hungary    3.245520e+05     2.925327e+09
768978          United States    1.161763e+11     1.045250e+08
984096               Thailand    2.546100e+04     4.904132e+10
1004080         Liechtenstein    4.370700e+06     1.839308e+07
1004610       Slovak Republic    3.955740e+05     8.211956e+08
1011706                 Chile    5.643490e+05     7.334129e+09
1361706                Taiwan    8.373750e+07     3.399554e+09
1364686  United Arab Emirates    6.763699e+07     3.002065e+08
1382275               Belgium    2.144445e+09     1.843462e+08
1391803                 Japan    1.141823e+11     2.081102e+09
1504591               Austria    7.840690e+08     7.702674e+08
1527919                 Italy    3.835656e+09     2.400826e+09
1594069               Germany    4.721844e+10     6.016400e+04
1617715                Sweden    6.364046e+09     5.975716e+07
1636599            Luxembourg    1.115540e+08     5.550398e+08
1640235                 Spain    2.014696e+09     5.617118e+08
1826131               Denmark    2.952416e+09     1.663106e+08
1829851                France    1.545646e+10     2.375409e+08
1861251                Norway    4.416814e+09     3.680020e+08
1894060              Portugal    6.890087e+07     1.752426e+08
1898964           Switzerland    2.844088e+09     3.267830e+05
1912199        United Kingdom    2.369054e+10     9.573440e+08
1931531               Finland    6.659534e+08     1.806955e+08
1938326               Ireland    2.951445e+08     9.346387e+08
1959494             Australia    2.446616e+09     2.572618e+09
2037502                Canada    7.466338e+09     4.068653e+09
2132527                 Korea    1.299048e+09     2.529432e+10
3287334                Greece    3.266718e+07     5.193779e+08
3291294           New Zealand    5.674988e+07     2.255883e+08
3292278                Cyprus    5.599000e+03     9.681549e+08
3292581        Czech Republic    8.930435e+06     2.141913e+09
3328587              Slovenia    1.500280e+05     2.254352e+08
3331898               Iceland    1.725010e+05     1.806004e+07
3331901                Poland    4.031840e+05     2.451723e+10

### Convert csv to json

In [65]:
# result.to_json(r'res.json',orient='records')
# result = result.drop(columns='recipient').drop_duplicates()

# result contains three columns - country, donated_amount, recieved_amount
result.columns

Index(['Country', 'donated_amount', 'recieved_amount', 'Countryid'], dtype='object')

In [60]:
result['Countryid'] = result.index

In [62]:
result.to_csv(r'aid-donor-recipient.csv')

### Normalize the dataframe

In [1]:
# Create x, where x the 'scores' column's values as floats
x = result[['donated_amount']].values.astype(float)

# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler()

# Create an object to transform the data to fit minmax processor
x_scaled = min_max_scaler.fit_transform(x)

result['normalized_donated_amount'] = x_scaled

result['donated_amount'].mean()

NameError: name 'result' is not defined

In [79]:
# Create y, where y the 'scores' column's values as floats
y = result[['recieved_amount']].values.astype(float)

# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler()

# Create an object to transform the data to fit minmax processor
y_scaled = min_max_scaler.fit_transform(y)

result['normalized_recieved_amount'] = y_scaled

result

result.to_csv(r'aid-normalized.csv')

In [85]:
result['normalized_donated_amount']

0          1.461920e-02
7098       1.178444e-02
10173      8.996105e-04
12026      9.716618e-06
487616     1.594094e-06
756516     2.352829e-06
759006     2.745421e-06
768978     1.000000e+00
984096     1.709643e-07
1004080    3.757307e-05
1004610    3.356751e-06
1011706    4.809499e-06
1361706    7.207311e-04
1364686    5.821443e-04
1382275    1.845849e-02
1391803    9.828357e-01
1504591    6.748908e-03
1527919    3.301576e-02
1594069    4.064376e-01
1617715    5.477915e-02
1636599    9.601648e-04
1640235    1.734166e-02
1826131    2.541319e-02
1829851    1.330431e-01
1861251    3.801815e-02
1894060    5.930233e-04
1898964    2.448074e-02
1912199    2.039188e-01
1931531    5.732216e-03
1938326    2.540439e-03
1959494    2.105946e-02
2037502    6.426724e-02
2132527    1.118164e-02
3287334    2.811380e-04
3291294    4.884324e-04
3292278    0.000000e+00
3292581    7.682146e-05
3328587    1.243188e-06
3331898    1.436627e-06
3331901    3.422255e-06
Name: normalized_donated_amount, dtype: float64

#### Dump dataframe to resjson

In [63]:
resjson = result.to_json()

In [64]:
with open('results.json', 'w') as file:
    json.dump(resjson, file)